<div class="modal fade" :id="modalId" tabindex="-1" :aria-labelledby="modalId + 'Label'" aria-hidden="true">
    <div class="modal-dialog" :class="dialogClass">
        <div class="modal-content">
            <div class="modal-header" :class="headerClass">
                <h5 class="modal-title" :id="modalId + 'Label'">
                    <i v-if="icon" :class="icon + ' me-2'"></i>
                    {{ title }}
                </h5>
                <button type="button" :class="closeButtonClass" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <slot></slot>
            </div>
            <div v-if="showFooter" class="modal-footer">
                <slot name="footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="handleCancel">
                        <i class="bi bi-x-circle me-2"></i>{{ cancelText }}
                    </button>
                    <button type="button" class="btn" :class="confirmButtonClass" @click="handleConfirm">
                        <i class="bi bi-check-circle me-2"></i>{{ confirmText }}
                    </button>
                </slot>
            </div>
        </div>
    </div>
</div>